<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Acasa</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<script>
    function compatibilitateNoua() {
        alert("Ai o noua compatibilitate culinara in sectiunea Prieteni!");
    }
</script>
<body>
<img src="http://localhost/prieteni.png" alt="prieteni" style="position: absolute; left: 10px;" height="300" width="442" align="left">
<!-- onclick="compatibilitateNoua()" -->
<img src="http://localhost/apreciate_4.png" alt="apreciate" style="position: absolute; top: 347px; left: 10px;" height="303" width="442" align="right">
<img src="http://localhost/apreciate_4.png" alt="apreciate" style="position: absolute; top: 347px; left: 10px;" height="303" width="442" align="right">
<img src="http://localhost/mancare_dietetica.png" alt="dietetica" style="vertical-align:top" align="right" height="300" width="430">
<img src="http://localhost/logo_3.png" alt="logo" style="position: absolute; left: 475px;" height="300" width="430">
<img src="http://localhost/introdu_ingrediente.png" alt="ingrediente" style="position: absolute; top: 347px; right: 8px;" height="303" width="430" align="left">
<img src="http://localhost/restaurante_zona.png" alt="restaurante" style="position: absolute; top: 347px; left: 475px;" height="303"  width="430" align="right">
</body>
</html>