<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
</head>
<script th:if="${utilizatorexistent}">
    function dejaExistentVerificare() {
        alert("Utilizator deja existent in baza de date");
    }
</script>
<body>
<img src="http://localhost/apreciate_4.png" alt="apreciate" style="position: absolute; top: 347px; left: 10px;" height="303" width="442" align="right">
<img src="http://localhost/mancare_dietetica.png" alt="dietetica" style="vertical-align:top" align="right" height="300" width="430">
<img src="http://localhost/logo_3.png" alt="logo" style="position: absolute; left: 475px;" height="300" width="430">
<img src="http://localhost/introdu_ingrediente.png" alt="ingrediente" style="position: absolute; top: 347px; right: 8px;" height="303" width="430" align="left">
<img src="http://localhost/restaurante_zona.png" alt="restaurante" style="position: absolute; top: 347px; left: 475px;" height="303"  width="430" align="right">
<!-- <h1 style="font-family:'Courier New'; font-size: 130%; color: #FACC2E;">Bine ai venit! </h1>
<h1 style="font-family:'Courier New'; font-size: 130%; color: #FACC2E;">Completeaza formularul de mai jos: </h1>
<p th:if="${utilizatorexistent}" class="error" style="color: #FF8000; font-family:'Courier New'; font-size:100%"><b>Acest Nume De Utilizator Se Afla Deja In</b></p>
<p th:if="${utilizatorexistent}" class="error" style="color: #FF8000; font-family:'Courier New'; font-size:100%"><b>Baza De Date!</b></p> !-->
<br />
<form th:action="@{/register}" th:object="${registerForm}" method="post">
    <!-- <label for="email" style="background-color: #e7e7e7; color: #0080FF; font-family:'Courier New';">E-mail:</label>
    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    <input type="text" id="email" name="email" autofocus="autofocus" />
    <p></p> -->
    <label for="username" style="background-color: #e7e7e7; color: #0080FF; font-family:'Courier New';">Numele Utilizatorului:</label>
    <b>&nbsp;</b>
    <input type="text" id="username" name="username" autofocus="autofocus" />
    <br />
    <br />
    <label for="password" style="background-color: #e7e7e7; color: #0080FF; font-family:'Courier New';">Parola:</label>
    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    <input type="password" id="password" name="password" />
    <p></p><p></p>
    <br />
    <input type="submit" value="Inregistrare" style="background-color: #3333ff; border: 3px solid black; font-family:'Courier New'; color: #FFFFFF;"/>
    <!-- onclick="dejaExistentVerificare()" -->
</form>

</body>
</html>